
.header-container{
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 10 ;
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-items: center;
    place-content: space-evenly;
    transition: background-color 0.2s, height 0.2s;
}
.header-logo, .header-menu, .header-end{
    position: relative;
    display: flex;
    align-items: center;
}
.hovering-block{
    position: relative;
    display: inline-block;
    transition: all 1s linear;
}
.home-list{
    position: absolute;
    background-color: aliceblue;
    display: none;
    visibility: none;
    opacity: 0;
    height: 100px;
    width: 100px;
    transition: all 1s linear;
}
.hovering-block:hover .home-list{
    display: block;
    visibility: visible;
    opacity: 1;
}
.home-list a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    
}
.header-logo img{
    width: 180px;
}
.header-menu{
    width: 60%;
    justify-content: space-around;
}
.header-menu button{
    color: var(--white);
    border: none;
    font-size: 16px;
    background: none;
    transition: var(--color);
}


.header-menu button:hover{
    color: var(--orange);
}
.header-menu button:nth-child(1){
    color: var(--orange);
    transition: var(--color);
}
.header-menu button:nth-child(1):hover{
    color: var(--white);
    /* z-index: 10;
    display: block; */
}

.header-change{
    position: fixed;
    background-color: var(--dark-blue);
    height: 80px;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
.header-end{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.header-end button{
    font-size: 20px;
    background: none;
    border: none;
}
.header-end button i{
    color: var(--white);
}
/* .home-button{
    /* position: relative; 
} */

/* .home-button:hover .home-list{
    
} */



