<div class="product-container">
    <div class="product-content">
        <div class="c1" ><span style="color: var(--orange)">Our </span> Products</div>
        <div class="c2">these are some of the best products to choose from. please choose one of the fruits listed below</div>
    </div>
    <div class="product-list">
        <div class="products">
            <div class="product">
                <img src="/assets/images/strawberry.jpg" alt="">
                <h2>Strawberry</h2>
                <small>Per Kg</small>
                <h1>70$</h1>
                <button><i class="fas fa-shopping-cart" ></i> add to cart</button>
            </div>
            <div class="product">
                <img src="/assets/images/grapes.jpg" alt="">
                <h2>Grapes</h2>
                <small>Per Kg</small>
                <h1>60$</h1>
                <button><i class="fas fa-shopping-cart" ></i> add to cart</button>
            </div>
            <div class="product">
                <img src="/assets/images/lemon.jpg" alt="">
                <h2>Lemon</h2>
                <small>Per Kg</small>
                <h1>50$</h1>
                <button><i class="fas fa-shopping-cart" ></i> add to cart</button>
            </div>
        </div>
    </div>
</div>
