<header [class.header-change]="header_variable" class="header-container">
    <div class="header-logo">
        <img src="/assets/images/logo.png" alt="">
    </div>
    <div class="header-menu">     
        <div class="hovering-block">
            <button class="home-button">Home</button>
            <div class="home-list">
                <a href="#">Wasim</a>
                <a href="#">Wasim</a>
                <a href="#">Wasim</a>
            </div>
    </div>
        <button class="about-button">About</button>
        <button class="pages-button">Pages</button>
        <button class="news-button">News</button>
        <button class="contact-button">Contact</button>
        <button class="shop-button">Shop</button>
    </div>
    <div  class="header-end">
        <button>
            <i class="fas fa-shopping-cart"></i>
        </button>
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</header>

<div class="display-container">
    <img src="./assets/images/photo1.jpg" alt="">
    <div class="display-details">
        <p>FRESH AND ORGANIC</p>
        <p>DELICIOUS SEASONAL FRUITS</p>
        <div class="display-buttons">
            <button class="">Fruit Collection</button>
            <button class="">Contact Us</button>
        </div>
    </div>
</div>
<div class="list-section">
    <div class="list-content">
        <div class="list-icon">
            <i class="fas fa-shipping-fast" ></i>
        </div>
        <div class="list-details">
            <h2>Free Shipping</h2>
            <h4>When order over $75 </h4>
        </div>
    </div>
    <div class="list-content">
        <div class="list-icon">
            <i class="fas fa-phone-volume" ></i>
        </div>
        <div class="list-details">
            <h2>24/7 Support</h2>
            <h4>Get support all day</h4>
        </div>
    </div>
    <div class="list-content">
        <div class="list-icon">
            <i class="fas fa-sync" ></i>
        </div>
        <div class="list-details">
            <h2>Refund</h2>
            <h4>Get refund within 3 days!</h4>
        </div>
    </div>
</div>
