<div class="news-container">
    <div class="news-content">
        <div class="c1" ><span style="color: var(--orange)">Our </span> news</div>
        <div class="c2">these are some of the best news to choose from. please choose one news listed below and give it a try</div>
    </div>
    <div class="news-list">
        <div class="newss">
            <div class="news">
               <div class="news-image">
                <img src="/assets/images/news1.jpg" alt="">
               </div>
               <div class="news-text">
               <div class="news-topic">
                <p>You will vainly look for fruit on it in autumn.</p>
               </div>
               <div class="news-author-details">
               <div class="news-author">
                <i class="fas far fa-user-circle"></i>
                <p>Admin</p>
               </div>
               <div class="news-date">
                <i class="fas fas fa-calendar-times"></i>
                <p>10/02/2022</p>
               </div>
            </div>
                <div class="news-content">
                    <p>Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                </div>
                <div class="news-link">
                    <a href="#">know more ></a>
                </div>
            </div>

            </div>
            <div class="news">
                <div class="news-image">
                    <img src="/assets/images/news2.jpg" alt="">
                   </div>
                   <div class="news-text">
                   <div class="news-topic">
                    <p>A man's worth has its season, like tomato.</p>
                   </div>
                   <div class="news-author-details">
                   <div class="news-author">
                    <i class="fas far fa-user-circle"></i>
                    <p>Admin</p>
                   </div>
                   <div class="news-date">
                    <i class="fas fas fa-calendar-times"></i>
                    <p>10/02/2022</p>

                   </div>
                </div>
                    <div class="news-content">
                        <p>Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                    </div>
                    <div class="news-link">
                        <a href="#">know more ></a>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news-image">
                    <img src="/assets/images/news3.jpg" alt="">
                   </div>
                   <div class="news-text">
                   <div class="news-topic">
                    <p>Good thoughts bear good fresh juicy fruit.</p>
                   </div>
                   <div class="news-author-details">
                        <div class="news-author">
                            <i class="fas far fa-user-circle"></i>
                            <p>Admin</p>
                        </div>
                        <div class="news-date">
                            <i class="fas fas fa-calendar-times"></i>
                            <p>10/02/2022</p>
                        </div>
                </div>
                    <div class="news-content">
                        <p>Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                    </div>
                    <div class="news-link">
                        <a href="#">know more ></a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="more-news-button">
    <button>More News</button>
</div>
</div>
